.formulario-form-container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.Cabecera-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 10px;
    margin: 10px;
    height: 650px;
    background-color: rgba(111, 69, 151, 0.309);
    border-radius: 5px;
    border: 1px solid rgba(102, 3, 160, 0.59);
}
.Cabecera-form:hover{
    border: 1px solid rgba(3, 160, 139, 0.309);
}

.body-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 10px;
    margin: 10px;
    background-color: black;
    width: 300px;
    height: 650px;
    border-radius: 12px;
    border: 1px solid rgba(79, 79, 79, 0.309);
}
.name-form{
    width: 250px;
    margin: 4px 0px 25px 0px;
}
.fecha-lanzamiento-form{
width: 250px;
margin: 4px 0px 25px 0px;
}

.image-form{
    width: 400px;
    margin: 4px 0px 25px 0px;
}

.rating-form{
width: 250px;
margin: 4px 0px 25px 0px;
}


.descripcion-form{
    margin: 4px 0px 5px 0px;
}

.gender-select-body{
    width: 250px;
    height: 120px;
    margin: 4px 0px 5px 0px;
}
.platforms-select-body{
    width: 250px;
    height: 120px;
    margin: 4px 0px 5px 0px;    
}

.gender-body-form{
    display: block;
    background-color: rgba(51, 55, 56, 0.398);
    margin: 2px 0px 12px 0px;
    border-radius: 5px;
    border: 1px solid rgb(72, 71, 69);
}
.gender-body-form:hover{
    border: 1px solid rgba(3, 160, 139, 0.33);
}
.platforms-body-form{
    display: block;
    background-color: rgba(51, 55, 56, 0.398);
    margin: 2px 0px 12px 0px;
    border-radius: 5px;
    border: 1px solid rgb(72, 71, 69);
}
.platforms-body-form:hover{
    border: 1px solid rgba(3, 160, 139, 0.419);
}

.parrafo-genders-length{
    font-size: 16px;
    color: red;
    background-color: rgb(255, 255, 255);
    height: 120px;
    margin: 0px 0px 4px 0px;
    border-radius: 5px;
    font-family: cursive;
}


.cuadro-videogames-plataforms{
    display: inline-block;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 115px;
   background-color: rgba(4, 122, 177, 0.289);
   margin: 0px 0px 4px 0px;
   border-radius: 5px;
   /** overflow:scroll; /** permite mi barra de  desplazamiento en mi div*/
    /* resize: both; */
}

.asterisco > label{
    color: rgb(255, 47, 0);
    font-size: 16px;
    
}

.obligatorio{
    color: red;
    margin: 0px 0px 16px 0px ;
    font-size: 12px;
    
}



.error {
    color: red;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black,
      1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
  }


